* {
    font-family: "Inter";
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.news-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 2vh;
    width: 370px; /* фиксированная ширина */
    min-width: 370px;
    height: auto;
    min-height: 31vh;
    transition: all 0.3s ease;
    flex: none;
}

.news-item:hover {
    background-color: rgba(128, 128, 128, 0.1);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ccc;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-header-text {
    padding-left: 16px;
    color: #354153;
}

.sidebar-navigation-list {
    padding-right: 60px;
    width: 100%;
}

.main-page {
    width: 100%;
}

.custom-select {
    border-radius: 5px;
    background-color: white;
    border-color: rgb(206, 206, 206);
    border-top-color: rgb(206, 206, 206);
    border-top-width: 1px;
    border-width: 1px;
    height: 30px;
}

.news-types {
    display: flex;
    flex-direction: column; 
    list-style-type: none;
}

.news-types li {
    margin-bottom: 10px;
    color: #354153;
}

.news-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.news-item header :first-child {
    padding-left: 6%;
}

.news-item header :last-child {
    padding-right: 6%;
}

.news-item img {
    margin-left: 7%;
}

.news-head {
    margin-left: 7%;
    font-size: 24px;
    margin-right: 8%;
    color: #0D1421;
    font-weight: 300;
    font-family: 'Inter 500';
}

.news-item-description {
    margin-left: 7%;
    margin-right: 7%;
    font-size: 18px;
    color: #354153;
}

@font-face {
    font-family: "Inter";
    src: url(Fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter 500";
    src: url(Fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 500;
    font-style: medium;
}